@import "../../../styles";
:host {
  display: block;
  margin-left: 20px;

  .directory {
    cursor: pointer;
    color: $color_dark;
    margin-bottom: 5px;
    &:hover {
      font-weight: bold;
    }
  }
  .file {
    margin-bottom: 3px;
    &:hover {
      color: $color_dark;
    }
  }
}
